@charset "UTF-8";.maclass{-webkit-border-radius: 3px;-moz-background-clip: border;
-moz-border-radius : 3px;border-radius :3px;-webkit-background-clip: border;
background-clip: border;/* This comment should stay contiguous to background-clip */}
.maclass:before{content:'•'}

a{border:1px solid red;-webkit-box-shadow: inset 0 0 0 1px #000;-moz-box-shadow: inset 0 0 0 1px #000;
/* This comment should be removed */
box-shadow: inset 0 0 0 1px #000;margin-left:-0.4px}
.box{margin-top: 10px;margin-left: 20px;margin-right: 20px;margin-bottom: 30px;
padding-bottom: 3px;padding-top: 1px;padding-left: 4px;padding-right: 2px;}
/* Comment test
   ----------------------- */

@media all and (max-width:600px) {
	body{background-color:red;
	    border-left:0px}
        /* ;) */
	.lorem{    -webkit-box-shadow:   inset 0 0 0 3px #ccc ,  inset
	     0 0 0 5px #000;
        -moz-box-shadow:      inset 0 0 0 3px #ccc ,    inset 0 0 0 5px #000;
        box-shadow: inset 0 0 0 3px #ccc ,  inset 0 0 0 5px #000;}
}
