@charset "UTF-8";   /* This comment should not be removed */ $custom-br: 3px; .maclass{-webkit-border-radius: $custom-br;-moz-background-clip: border;
-moz-border-radius : $custom-br;border-radius :$custom-br;-webkit-background-clip: border;
background-clip: border;/* This comment should stay contiguous to background-clip */}
.maclass:before{content:'•'
/* This comment should be removed */}
@charset "UTF-8";

a{border:1px solid red;-webkit-box-shadow: inset 0 0 0 1px #000;-moz-box-shadow: inset 0 0 0 1px #000;
/* This comment should be removed */
box-shadow: inset 0 0 0 1px #000;margin-left:-0.4px}
.box{/* This comment should be removed */margin-top: 10px;margin-left: 20px;margin-right: 20px;margin-bottom: 30px;
padding-bottom: 3px;padding-top: 1px;padding-left: 4px;padding-right: 2px;}
/* Comment test
   ----------------------- */

@media all and (max-width:600px) {
	body{background-color:red;
	    border-left:0px}
        /* ;) */
	.lorem{    -webkit-box-shadow:   inset 0 0 0 3px #ccc ,  inset
	     0 0 0 5px #000;
        -moz-box-shadow:      inset 0 0 0 3px #ccc ,    inset 0 0 0 5px #000;
        box-shadow: inset 0 0 0 3px #ccc ,  inset 0 0 0 5px #000;}
}

.test {
    .az >* {border-radius: 99em;}
    .az>* {border-radius: 99em;}
    .az> * {border-radius: 99em;}
}

@media($desktop_excluded) {

}
/* Gradient */
    .gradients {
    background-image: -webkit-linear-gradient(left, rgba(0,
        0,0
        ,0.90) 0%,
rgba(0,0,0,0) 100%);background-image:
    -o-linear-gradient(left, rgba(0,0,0,0.90) 0%, rgba(0,0,0,0) 100%);
background-image: linear-gradient(to right,
    rgba(0,0
        ,0,0.90) 0%, rgba(
        0,0,0,0) 100%);
}

/* CSS Vars */  .my-css-var-order {
border-radius:var(--border-radius-proj);;--border-radius-proj:3px}

@media($desktop_excluded) and ($mobile_excluded) {
}

/* Sass fixes */
@include
 csscKeyframes(test) {
    0% {
    width: 100%;}
  100% {
  width: 0%;
    }
} %project--field {
    &::-webkit-input-placeholder {
        @include project-placeholder;
    }
    &::placeholder {
 @include project-placeholder;
    }
}.test { @include animation('test', 2s);}

.test2 {
justify-content: center;   // 3. this comment is not removed
        display: flex; // 1. this comment is not removed
    align-items: center; //  2. this comment is not removed
        height: auto;
}

/* Checking @supports */
@supports (-webkit-backdrop-filter: blur(1px))or(backdrop-filter:blur(1px) ) {div { border: 1px red solid;}}
