/* =============================================================================
   Reset CSS : Eric Meyer.
   ========================================================================== */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    vertical-align:baseline;
    font:inherit;
    font-size:100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display:block;
}

body {
    line-height:1;
}

ol, ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content:'';
    content:none;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* =============================================================================
   Base Layout
   ========================================================================== */

html {
    background:#f0f0f0;
}

body {
    font:62.5% sans-serif;
}

#main-container {
    width:600px;
    margin:20px auto;
    padding:20px;
    background:#FFF;
    -webkit-background-clip:padding-box;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
}

h1 {
    margin-bottom:10px;
    padding-bottom:10px;
    color:#989796;
    font-size:20px;
    border-bottom:1px solid #f0f0f0;
}

p {
	font-size:12px;
	line-height:16px;
	margin-bottom:16px;
	color:#333;
}

a {
	color:#369;
}

a:hover {
	color:#963;
}

a:active {
	color:#000;
}

/* =============================================================================
   Formulaire
   ========================================================================== */

.go_clean_css,
#clean_css {
    -webkit-transition:border,background 0.3s ease;
    -moz-transition:border,background 0.3s ease;
    -o-transition:border,background 0.3s ease;
    transition:border,background 0.3s ease;
}

#clean_css {
	width:100%;
	margin-bottom:15px;
	border:1px solid #c0c0c0;
	outline:0;
	background:#f0f0f0;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	resize:vertical;
}

#clean_css:focus,
#clean_css:hover {
    border-color:#999;
}

#clean_css:focus {
    background:#fff;
}

label {
    font-size:12px;
}

label,
.in-block {
    display:inline-block;
    line-height:25px;
}

.in-block {
    width:81px;
    margin-right:5px;
    text-align:left;
}

.in-block select {
    width:80px;
}

.check-block,
.select-block,
.submit-block {
    height:25px;
    overflow:hidden;
}

.go_clean_css {
    float:right;
    height:25px;
    cursor:pointer;
    background:#f0f0f0;
    -webkit-background-clip:padding-box;
    border:1px solid #c0c0c0;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
}

.go_clean_css.go_options {
	-ms-filter:"alpha(Opacity=50)";
    filter: alpha(opacity=50);
    opacity:0.50;
}

.go_clean_css:hover {
    background:#e0e0e0;
}

